In [1]:
import numpy as np

## Data Types & Attributes

In [2]:
# Numpy's main datatype is called ndarray
a1 = np.array([1, 2, 3])
type(a1)

numpy.ndarray

In [3]:
a2 = np.array([[[1, 2, 3],[4, 5, 6],[7, 8, 9]],
              [[10, 11, 12],[13,14,15],[16,17,18]]
              ])

In [6]:
a2.shape

(2, 3, 3)

In [8]:
a1.shape

(3,)

In [9]:
a2

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [10]:
a1.ndim, a2.ndim

(1, 3)

In [11]:
a1.size, a2.size

(3, 18)

In [12]:
a1.dtype, a2.dtype

(dtype('int64'), dtype('int64'))

In [14]:
# Creating a dataframe from a numpy array
import pandas as pd
a3 = [[1, 2, 3], [4, 5.2, 6]]
df = pd.DataFrame(a3)
df

   0    1  2
0  1  2.0  3
1  4  5.2  6

## Creatiing Arrays

In [15]:
np.ones((2,3), dtype='float64', order='C')

array([[1., 1., 1.],
       [1., 1., 1.]])

In [16]:
range_array = np.arange(0,20, 2)
range_array

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [17]:
random_array = np.random.randint(1, 20, size = (4, 4))
random_array

array([[17, 18, 16,  8],
       [14, 14,  2,  4],
       [ 9, 14, 13,  6],
       [17,  6, 18,  6]])

In [19]:
random_array.shape

(4, 4)

In [21]:
np.random.random((9))

array([0.88170193, 0.07624514, 0.15947549, 0.0726164 , 0.41899572,
       0.94399615, 0.5493164 , 0.68618689, 0.27710792])

In [22]:
np.random.random((4, 3))

array([[0.62198925, 0.007692  , 0.25458815],
       [0.95609021, 0.06985322, 0.01223211],
       [0.5962626 , 0.25082356, 0.45140847],
       [0.88876788, 0.77420523, 0.97054854]])

In [25]:
random_array_3 = np.random.rand(2,3,3)
random_array_3

array([[[0.56871703, 0.63363534, 0.50981752],
        [0.56772963, 0.96485827, 0.64276264],
        [0.4169197 , 0.20400887, 0.2101587 ]],

       [[0.11371682, 0.99017695, 0.55156757],
        [0.56470514, 0.45189533, 0.9728732 ],
        [0.88356771, 0.68139927, 0.67958989]]])

In [26]:
random_array_3.shape

(2, 3, 3)

In [29]:
#Pseudo random variables
np.random.seed(8)
random_array_4 = np.random.rand(4,5)
random_array_4

array([[0.8734294 , 0.96854066, 0.86919454, 0.53085569, 0.23272833],
       [0.0113988 , 0.43046882, 0.40235136, 0.52267467, 0.4783918 ],
       [0.55535647, 0.54338602, 0.76089558, 0.71237457, 0.6196821 ],
       [0.42609177, 0.28907503, 0.97385524, 0.33377405, 0.21880106]])

## Viewing Arrays and Metrices

In [32]:
randint_array = np.random.randint(10, 15, size = (10))
randint_array

array([13, 12, 12, 12, 11, 10, 11, 12, 11, 12])

In [33]:
# finding out unique numbers in ndarrays
np.unique(randint_array)

array([10, 11, 12, 13])

In [34]:
# traditional array methods of accessing array elements are valid here
a2

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [40]:
a2[:1, :2, :3]

array([[[1, 2, 3],
        [4, 5, 6]]])

## Manipulating Arrays

In [4]:
a3 = np.ones(3)
a3

array([1., 1., 1.])

In [5]:
a1 + a3

array([2., 3., 4.])

In [6]:
# broadcasting rules
#they are equal, or one of them is 1
a2 = np.random.randint(1,5, size = (2, 3))
a2

array([[2, 3, 3],
       [1, 2, 4]])

In [8]:
a1

array([1, 2, 3])

In [9]:
a1*a2

array([[ 2,  6,  9],
       [ 1,  4, 12]])

In [10]:
a2 = np.random.randint(1,5, size = (4, 5))
a2

array([[2, 4, 2, 3, 4],
       [2, 3, 2, 3, 4],
       [3, 1, 1, 1, 1],
       [3, 3, 4, 1, 3]])

In [11]:
a1*a2

ValueError: operands could not be broadcast together with shapes (3,) (4,5)

In [12]:
a2 = np.random.randint(1,5, size = (2, 3))
a2

array([[4, 4, 2],
       [1, 4, 4]])

In [14]:
a3 = np.random.randint(1, 5, size = (2, 3, 3))
a3

array([[[1, 1, 3],
        [2, 2, 3],
        [3, 3, 4]],

       [[4, 1, 1],
        [2, 4, 1],
        [4, 2, 1]]])

In [15]:
a2*a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [16]:
a1*a3

array([[[ 1,  2,  9],
        [ 2,  4,  9],
        [ 3,  6, 12]],

       [[ 4,  2,  3],
        [ 2,  8,  3],
        [ 4,  4,  3]]])

In [17]:
np.square(a2)

array([[16, 16,  4],
       [ 1, 16, 16]])

In [18]:
np.add(a1, a2)

array([[5, 6, 5],
       [2, 6, 7]])

In [19]:
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [21]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

# Aggregation
aggregation = performing the same opeartion on a number of things

In [22]:
listy_list = [x for x in range(1,6)]
listy_list

[1, 2, 3, 4, 5]

In [23]:
sum(listy_list)

15

In [24]:
np.sum(a1)

6

In [25]:
np.sum(a2)

19

In [29]:
# comparing times
numpy_array = np.random.randint(1, 1000, size = (1000))
python_array = [x for x in range(1, 1001)]
#python magic functions start with '%'
%timeit np.sum(numpy_array) #get the time to get the sum of the numpy_array
%timeit sum(python_array) # get the time to get the sum of the python array

3.35 µs ± 43.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
4.39 µs ± 10.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [32]:
# variance
np.var(a3)

1.333333333333333

In [33]:
# standard deviation
np.std(a3)

1.1547005383792515

## Reshaping

In [41]:
a2 = np.random.randint(1,5, size = (2, 3))
a2

array([[4, 3, 4],
       [4, 3, 4]])

In [44]:
a2 = a2.reshape(2,3,1)
a2

array([[[4],
        [3],
        [4]],

       [[4],
        [3],
        [4]]])

In [45]:
a2*a3

array([[[ 4,  4, 12],
        [ 6,  6,  9],
        [12, 12, 16]],

       [[16,  4,  4],
        [ 6, 12,  3],
        [16,  8,  4]]])

In [46]:
a2 = np.random.randint(1,5, size = (2, 3))
a2

array([[1, 3, 4],
       [2, 1, 3]])

In [47]:
# Transpose
a2.T

array([[1, 2],
       [3, 1],
       [4, 3]])

## Dot product vs Element wise

In [57]:
np.random.seed(0)
mat1 = np.random.randint(10, size = (5, 3))
mat2 = np.random.randint(10, size = (5,3))

In [49]:
mat1

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [58]:
mat2

array([[6, 7, 7],
       [8, 1, 5],
       [9, 8, 9],
       [4, 3, 0],
       [3, 5, 0]])

In [59]:
# Element wise multiplication
mat1*mat2

array([[30,  0, 21],
       [24,  7, 45],
       [27, 40, 18],
       [16, 21,  0],
       [24, 40,  0]])

In [60]:
# dot multiplication
#it will throw an error because it follows the rules of the multiplication of the matrices from our intermediate math book
np.dot(mat1, mat2)

ValueError: shapes (5,3) and (5,3) not aligned: 3 (dim 1) != 5 (dim 0)

In [61]:
mat1 = mat1.reshape(3,5)

In [62]:
mat1.shape

(3, 5)

In [63]:
mat2.shape

(5, 3)

In [64]:
mat3 = np.dot(mat1, mat2)

In [67]:
mat3, mat3.shape

(array([[ 90, 103,  62],
        [143, 132, 123],
        [197, 148, 151]]),
 (3, 3))

## Dot Product Example

### Create dataset for a store

Nut butter store

In [68]:
np.random.seed(0)
sales_amounts = np.random.randint(20, size = (5, 3))
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [86]:
# Create weekly sales Dataframe
import pandas as pd
weekly_sales = pd.DataFrame(sales_amounts, index = ["Mon", "Tues", "Wed", "Thurs", "Fri"],
                            columns = ["Almond Butter", "Peanut Butter", "Cashew Butter"])
weekly_sales

       Almond Butter  Peanut Butter  Cashew Butter
Mon               12             15              0
Tues               3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [87]:
np.random.seed(0)
prices = np.random.randint(30, size = (1,3))
prices.shape

(1, 3)

In [88]:
prices_for_each_jar = pd.DataFrame(prices, index = ["Price"],
                                   columns = ["Almond Butter", "Peanut Butter", "Cashew Butter"])
prices_for_each_jar

       Almond Butter  Peanut Butter  Cashew Butter
Price             12             15             21

In [89]:
# remeber that you have to transpose the prices matrix to satisfy the rules of dot matrix
weekly_sales["Total"] = np.dot(weekly_sales, prices_for_each_jar.T)
weekly_sales

       Almond Butter  Peanut Butter  Cashew Butter  Total
Mon               12             15              0    369
Tues               3              3              7    228
Wed                9             19             18    771
Thurs              4              6             12    390
Fri                1              6              7    249

In [90]:
# compare
a1 > a2

array([[False, False, False],
       [False,  True, False]])

In [93]:
# sort
np.sort(a3)

array([[[1, 1, 3],
        [2, 2, 3],
        [3, 3, 4]],

       [[1, 1, 4],
        [1, 2, 4],
        [1, 2, 4]]])

In [94]:
# argsort = corresponding indices will be provided
np.argsort(a3)

array([[[0, 1, 2],
        [0, 1, 2],
        [0, 1, 2]],

       [[1, 2, 0],
        [2, 0, 1],
        [2, 1, 0]]])

In [95]:
a3

array([[[1, 1, 3],
        [2, 2, 3],
        [3, 3, 4]],

       [[4, 1, 1],
        [2, 4, 1],
        [4, 2, 1]]])

In [96]:
a4 = np.random.randint(1,8, size = (4,4))
a4

array([[1, 4, 4, 4],
       [2, 4, 6, 3],
       [5, 7, 1, 1],
       [5, 3, 2, 7]])

In [100]:
#get the max of the column; column => axis = 0
np.argmax(a4, axis = 0)

array([2, 2, 1, 3])

In [99]:
#get the max of the row; row => axis = 1
np.argmax(a4, axis = 1)

array([1, 2, 1, 3])